<!--
  Generated template for the LapinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{laptob.ad.subject}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-slides pager>
      <ion-slide *ngFor= "let img of imgs">
        <img src= "http://img.segundamano.mx/medium/{{img.path}}">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card>
      <ion-item>
        {{laptob.ad.subject}}
        <ion-icon name= "heart" item-end></ion-icon>
      </ion-item>
      <ion-item>
        <h2 *ngIf ="laptob.ad.hasOwnProperty('list_price')">
          {{laptob.ad.list_price.label}}
        </h2>
        <ion-icon name= "share" item-end></ion-icon>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src ="../assets/imgs/Logo.png">
        </ion-avatar>
        <h2 *ngIf= "laptob.ad.hasOwnProperty('user')">{{laptob.ad.user.account.name}}</h2>
        <p *ngIf= "laptob.ad.hasOwnProperty('user')">{{laptob.ad.user.account.since}}</p>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        Características
      </ion-card-header>
      <ion-card-content>
        <h2>
          Ubicación: {{laptob.ad.locations[0].locations[0].label}}, {{laptob.ad.locations[0].label}}
        </h2>
        <h2 *ngIf= "laptob.ad.hasOwnProperty('list_time')">
          Publicado: {{laptob.ad.list_time.label}}
        </h2>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        Descripción
      </ion-card-header>
      <ion-card-content>
        {{laptob.ad.body}}
      </ion-card-content>
    </ion-card>

</ion-content>
